.animated{-webkit-animation-duration: .6s;animation-duration:.6s;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
.no{-webkit-animation-name:none!important;animation-name:none!important;opacity:0!important;}

.time01{-webkit-animation-duration: .1s;animation-duration:.1s;}.time02{-webkit-animation-duration: .2s;animation-duration:.2s;}.time03{-webkit-animation-duration: .3s;animation-duration:.3s;}.time04{-webkit-animation-duration: .4s;animation-duration:.4s;}.time05{-webkit-animation-duration: .5s;animation-duration:.5s;}.time10{-webkit-animation-duration: 1s;animation-duration:1s;}
.delay01{-webkit-animation-delay: .1s;animation-delay:.1s;}.delay02{-webkit-animation-delay: .2s;animation-delay:.2s;}.delay03{-webkit-animation-delay: .3s;animation-delay:.3s;}.delay04{-webkit-animation-delay: .4s;animation-delay:.4s;}.delay05{-webkit-animation-delay: .5s;animation-delay:.5s;}.delay06{-webkit-animation-delay: .6s;animation-delay:.6s;}.delay08{-webkit-animation-delay: .8s;animation-delay:.8s;}.delay10{-webkit-animation-delay: 1s;animation-delay:1s;}

@-webkit-keyframes menuHide{0%{-webkit-transform:translate3d(-220px,0,0);}100%{-webkit-transform:translate3d(0,0,0);}}
@-ms-keyframes menuHide{0%{-ms-transform:translate3d(-220px,0,0);}100%{-ms-transform:translate3d(0,0,0);}}
@-moz-keyframes menuHide{0%{-moz-transform:translate3d(-220px,0,0);}100%{-moz-transform:translate3d(0,0,0);}}
@keyframes menuHide{0%{transform:translate3d(-220px,0,0);}100%{transform:translate3d(0,0,0);}}
.menuHide{-webkit-animation-name:menuHide;animation-name:menuHide;}

@-webkit-keyframes menuShow{0%{-webkit-transform:translate3d(0,0,0);}100%{-webkit-transform:translate3d(-220px,0,0);}}
@-ms-keyframes menuShow{0%{-ms-transform:translate3d(0,0,0);}100%{-ms-transform:translate3d(-220px,0,0);}}
@-moz-keyframes menuShow{0%{-moz-transform:translate3d(0,0,0);}100%{-moz-transform:translate3d(-220px,0,0);}}
@keyframes menuShow{0%{transform:translate3d(0,0,0);}100%{transform:translate3d(-220px,0,0);}}
.menuShow{-webkit-animation-name:menuShow;-ms-animation-name:menuShow;-moz-animation-name:menuShow;animation-name:menuShow;}

@-webkit-keyframes slideInTop{0%{height:0px}100%{height:auto}}
.slideInTop{-webkit-animation-name:slideInTop;animation-name:slideInTop;}

@-webkit-keyframes bounce{0%,100%,20%,50%,80%{-webkit-transform:translateY(0);}40%{-webkit-transform:translateY(-30px);}60%{-webkit-transform:translateY(-15px);}}
@keyframes bounce{0%,100%,20%,50%,80%{transform:translateY(0);}40%{transform:translateY(-30px)}60%{transform:translateY(-15px)}}
.bounce{-webkit-animation-name:bounce;animation-name:bounce;}

@keyframes bounceHover {0%{transform:scale(1);}30%{transform: scale(0.92);}60% {transform: scale(1.08);}90%{transform: scale(0.95);}100%{transform: scale(1);}}
@-webkit-keyframes bounceHover {0%{-webkit-transform:scale(1);}40%{-webkit-transform: scale(0.92);}70% {-webkit-transform: scale(1.08);}90%{-webkit-transform: scale(0.95);}100%{-webkit-transform: scale(1);}}
.bounceHover{-webkit-animation-name:bounceHover;animation-name:bounceHover;}

@keyframes expandOpen {0%{transform:scale(1.8);opacity:0;}50%{transform: scale(0.95);opacity:1;}80% {transform: scale(1.05);}90%{transform: scale(0.98);}100%{transform: scale(1);}}
@-webkit-keyframes expandOpen {0%{-webkit-transform:scale(1.8);opacity:0;}50%{-webkit-transform: scale(0.95);opacity:1;}80% {-webkit-transform: scale(1.05);}90%{-webkit-transform: scale(0.98);}100%{-webkit-transform: scale(1);}}
.expandOpen{-webkit-animation-name:expandOpen;animation-name:expandOpen}

@keyframes pullDown {0% {transform: scaleY(0.1);opacity:0;}20% {transform:scaleY(1.01);opacity:1;}40% {transform:scaleY(1.02);}60%{transform:scaleY(0.98);}80%{transform: scaleY(1.01);}100%{transform: scaleY(1);}}
@-webkit-keyframes pullDown {0% {-webkit-transform: scaleY(0.1);opacity:0;}20% {-webkit-transform:scaleY(1.01);opacity:1;}40% {-webkit-transform:scaleY(1.02);}60%{-webkit-transform:scaleY(0.98);}80%{-webkit-transform: scaleY(1.01);}100%{-webkit-transform:scaleY(1);}}
.pullDown{-webkit-animation-name:pullDown;animation-name:pullDown;transform-origin: 50% 0%;-ms-transform-origin: 50% 0%;-webkit-transform-origin: 50% 0%;}

@keyframes pullDownOut {0% {transform: scaleY(1);opacity:1;}20%{transform: scaleY(0.1);opacity:1;}40%,100%{transform: scaleY(0);opacity:0;}}
@-webkit-keyframes pullDownOut {0% {-webkit-transform: scaleY(1);opacity:1;}20%{-webkit-transform: scaleY(0.1);opacity:1;}40%,100%{-webkit-transform: scaleY(0);opacity:0;}}
.pullDownOut{-webkit-animation-name:pullDownOut;animation-name:pullDownOut;transform-origin: 50% 0%;-ms-transform-origin: 50% 0%;-webkit-transform-origin: 50% 0%;}

@keyframes pullUp {0% {transform: scaleY(0.1);opacity:0;}40% {transform: scaleY(1.02);opacity:1;}60% {transform: scaleY(0.98);}80% {transform: scaleY(1.01);}100% {transform: scaleY(0.98);}80% {transform: scaleY(1.01);}100% {transform: scaleY(1);}}
@-webkit-keyframes pullUp {0% {-webkit-transform: scaleY(0.1);opacity:0;}40% {-webkit-transform: scaleY(1.02);opacity:1;}60% {-webkit-transform: scaleY(0.98);}80% {-webkit-transform: scaleY(1.01);}100% {-webkit-transform: scaleY(0.98);}80% {-webkit-transform: scaleY(1.01);}100% {-webkit-transform: scaleY(1);}}
.pullUp{-webkit-animation-name:pullUp;animation-name:pullUp;transform-origin: 50% 0%;-ms-transform-origin: 50% 0%;-webkit-transform-origin: 50% 0%;}

@-webkit-keyframes zoomIn {from {opacity: 0;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3)}50% {opacity: 1}}
@keyframes zoomIn {from {opacity: 0;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3)}50% {opacity: 1}}
.zoomIn {-webkit-animation-name: zoomIn;animation-name: zoomIn}

@-webkit-keyframes zoomInDown {0% {opacity: 0;-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);}60% {opacity: 1;-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);}}
@keyframes zoomInDown {0% {opacity: 0;transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);}60% {opacity: 1;transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);}}
.zoomInDown{-webkit-animation-name:zoomInDown;animation-name:zoomInDown;}

@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1;}}
@keyframes fadeIn{0%{opacity:0}100%{opacity:1;}}
.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn;}

@-webkit-keyframes fadeInDown{0%{-webkit-transform:translateY(-60px);opacity:0;}100%{opacity:1;-webkit-transform:translateY(0);}}
@keyframes fadeInDown{0%{transform:translateY(-60px);opacity:0;}100%{opacity:1;transform:translateY(0);}}
.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown;}

@-webkit-keyframes fadeInMinDown{0%{-webkit-transform:translateY(-10px);opacity:0;}100%{opacity:1;-webkit-transform:translateY(0);}}
@keyframes fadeInMinDown{0%{transform:translateY(-10px);opacity:0;}100%{opacity:1;transform:translateY(0);}}
.fadeInMinDown{-webkit-animation-name:fadeInMinDown;animation-name:fadeInMinDown;}

@-webkit-keyframes fadeInMinDownOut{0%{-webkit-transform:translateY(0);opacity:1;}100%{opacity:0;-webkit-transform:translateY(-10px);}}
@keyframes fadeInMinDownOut{0%{transform:translateY(0);opacity:1;}100%{opacity:0;transform:translateY(-10px);}}
.fadeInMinDownOut{-webkit-animation-name:fadeInMinDownOut;animation-name:fadeInMinDownOut;}

@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translate3d(-100%,0,0);}100%{opacity:1;-webkit-transform:translate3d(0,0,0);}}
@keyframes fadeInLeft{0%{opacity:0;transform:translate3d(-100%,0,0);}100%{opacity:1;transform:translate3d(0,0,0);}}
.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft;}

@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translate3d(100%,0,0);}100%{opacity:1;-webkit-transform:translate3d(0,0,0);}}
@keyframes fadeInRight{0%{opacity:0;transform:translate3d(100%,0,0);}100%{opacity:1;transform:translate3d(0,0,0);}}
.fadeInRight{-webkit-animation-name:fadeInRight;animation-name:fadeInRight;}

@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);}100%{opacity:1;-webkit-transform:translate3d(0,0,0);}}
@keyframes fadeInUp{0%{opacity:0;transform:translate3d(0,100%,0);}100%{opacity:1;transform:translate3d(0,0,0);}}
.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp;}

@-webkit-keyframes fadeInDownMin{0%{opacity:0;-webkit-transform:translate3d(0,-15px,0);}100%{opacity:1;-webkit-transform:translate3d(0,0,0);}}
@-moz-keyframes fadeInDownMin{0%{opacity:0;-moz-transform:translate3d(0,-15px,0);}100%{opacity:1;-moz-transform:translate3d(0,0,0);}}
@-ms-keyframes fadeInDownMin{0%{opacity:0;-ms-transform:translate3d(0,-15px,0);}100%{opacity:1;-ms-transform:translate3d(0,0,0);}}
@keyframes fadeInDownMin{0%{opacity:0;transform:translate3d(0,-15px,0);}100%{opacity:1;transform:translate3d(0,0,0);}}
.fadeInDownMin{-webkit-animation-name:fadeInDownMin;-moz-animation-name:fadeInDownMin;-ms-animation-name:fadeInDownMin;animation-name:fadeInDownMin;}

@-webkit-keyframes fadeOutDownMin{0%{opacity:1;-webkit-transform:translate3d(0,0,0);}100%{opacity:0;-webkit-transform:translate3d(0,-15px,0);}}
@-moz-keyframes fadeOutDownMin{0%{opacity:1;-moz-transform:translate3d(0,0,0);}100%{opacity:0;-moz-transform:translate3d(0,-15px,0);}}
@-ms-keyframes fadeOutDownMin{0%{opacity:1;-ms-transform:translate3d(0,0,0);}100%{opacity:0;-ms-transform:translate3d(0,-15px,0);}}
@keyframes fadeOutDownMin{0%{opacity:1;transform:translate3d(0,0,0);}100%{opacity:0;transform:translate3d(0,-15px,0);}}
.fadeOutDownMin{-webkit-animation-name:fadeOutDownMin;-moz-animation-name:fadeOutDownMin;-ms-animation-name:fadeOutDownMin;animation-name:fadeOutDownMin;}

@-webkit-keyframes flip{ 0%{-webkit-transform:translateZ(0) rotateY(0);} 20%{-webkit-transform:translateZ(10px) rotateY(190deg);} 40%{-webkit-transform:translateZ(0) rotateY(360deg);} 50%{-webkit-transform:translateZ(0) rotateY(360deg);} 100%{-webkit-transform:translateZ(0) rotateY(360deg);}}
@keyframes flip{ 0%{transform:translateZ(0) rotateY(0);} 20%{transform:translateZ(10px) rotateY(190deg);} 40%{transform:translateZ(0) rotateY(360deg);} 50%{transform:translateZ(0) rotateY(360deg);} 100%{transform:translateZ(0) rotateY(360deg);}}
.flip{-webkit-animation-name:flip;animation-name:flip;}

.fade-enter,
.fade-appear {
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.fade-leave {
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.fade-enter.fade-enter-active,
.fade-appear.fade-appear-active {
  -webkit-animation-name: antFadeIn;
          animation-name: antFadeIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.fade-leave.fade-leave-active {
  -webkit-animation-name: antFadeOut;
          animation-name: antFadeOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.fade-enter,
.fade-appear {
  opacity: 0;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.fade-leave {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@-webkit-keyframes antFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes antFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes antFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes antFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
