{
    "presets": ["env","react","stage-0"],
    "plugins": [
        "transform-runtime",
        "add-module-exports",
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
    ],
}
